.main_LeftSideBar {
  border: 1px black solid;
  width: 30%;
}

.right_mainLayout_container {
  border: 1px black solid;
  width: 60%;
  float: right;
}

/* App Styles */
/* *********** */
#App_firstcontainer {
  max-width: 40%;
  padding-top: 0%;
  margin: 2% auto 0%;
}

#app_secondcontainer {
  max-width: 40%;
  padding-top: 0%;
  margin: 0% auto;
}

#App_Hero {
  background-color: #2ec4b6;
}

#App_title {
  padding-bottom: 2%;
  text-shadow: 2px 2px green;
}

@media screen and (max-width: 900px) {
  #App_firstcontainer {
    max-width: 90%;
  }
}

.heropanel--video {
  font-family: sans-serif;
  min-height: 500px;
}

@keyframes gm-slidein {
  from {
    -webkit-transform: translate3d(0, -100%, 0);
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }

  to {
    -webkit-transform: none;
    opacity: 1;
    transform: none;
  }
}

.heropanel__content {
  -moz-animation: gm-slidein 3s 1;
  -ms-animation: gm-slidein 3s 1;
  -o-animation: gm-slidein 3s 1;
  -webkit-animation: gm-slidein 3s 1;
  animation: gm-slidein 3s 1;
  border-bottom: 1px solid #fff;
  margin: 0 auto;
  max-width: 50%;
  padding: 4em 0 2em;
  text-align: center;
}

.heropanel__content h1 {
  margin: 0 0 0.5em;
  text-transform: uppercase;
}

.heropanel__content h1 a {
  color: #fff;
  text-decoration: none;
}

.heropanel__content p {
  color: #fff;
  margin: 0;
  text-transform: uppercase;
}

#bgvid {
  position: fixed;
  right: 0;
  bottom: 0;
  top: 0;
  min-width: 130%;
  min-height: 100%;
  opacity: 0.8;
  z-index: -1;
  -moz-transform: scale(1);
  -webkit-transform: scale(1);
  -o-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.section {
  padding: 0;
}

/* Nav styles */
/* *********** */

.navbar-menu #Nav_help {
  float: left;
}

/* Help styles */
/* *********** */
#Help_content {
  background-color: white;
  border: 1px solid 250, 181;
  border-radius: 4px
}

#Help_head {
  margin-top: 2%;
  font-weight: 600;
}

#Help_body {
  text-align: left;
  padding: 3% 20%;
  font-size: 25px;
}

#help_box {
  max-width: 70%;
  margin: auto;
  background: rgba(255, 255, 255, 0.507);
  border: 1px rgba(0, 0, 0, 0.411) solid;
  opacity: 50%;
  border-radius: 2px
}

/* Login styles */
/* *********** */

#Login_btn {
  background-color: #2ec4b6;
}

#register_submit {
  background-color: #2ec4b6;
}

.navbar_nav {
  background-color: #2ec4b6;
}

.navbar-item {
  color: white;
}
/* History styles */
/* *********** */

#history_container {
  margin-top: 2%;
  display: flex;
}

#h_left {
  width: 30%;
  height: 80vh;
  background-color: rgb(35, 211, 211);
  margin-bottom: 3%;
  margin-right: 2%;
  border: 1px solid black;
  border-radius: 4px;
  
}

#h_right {
  width: 70%;
  height: 80vh;
  padding: 0px;
  margin: 0;
  background: white;
  border-radius: 2%;
  border: 1px solid black;
}

#hero_history {
  max-height: 10%;
  padding-top: 0px;
}

#hero_body {
  padding: 1%;
}

#historycontainer {
  display: flex;
  flex-direction: column;
  height: 100%;
}

#title_history {
  padding-top: 2.5%;
  text-align: center;
}

#history_meeting {
  margin-top: 1.5%;
}

.tile.is-parent {
  padding: 0 !important;
}

.hero.is-primary {
  background-color: rgb(231, 147, 147);
}

#attendeesviewcontainer {
  margin-top: 10%;
}

/* UserList styles */
/* *********** */

#userlist_name {
  font-size: 25px;
  margin-left: 3%;
  margin-top: 10%;
}

#userlist_button {
  float: right;
  margin-right: 8%;
  padding: 2%;
  border-radius: 5px;
}

/* Timebox styles */
/* *********** */

#timerbox_button {
  margin: 3%;
  padding: 2%;
  font-size: 40px;
  border-radius: 5px;
}

#timerbox_title {
  font-size: 25px;
  margin-left: 3%;
 
}

#timerbox_time{
width:20%;
 margin-left:20%;
 margin-right:20%;
 text-align: center;
 margin-top: 10%;
 font-size: 100%;
 border-style: outset;
 padding: 1%;
}

/* MinStats styles */
/* *********** */

#mainstats_title {
  margin-left:25%;
}